<p-panel header="Gerenciar Usuários">
  <p-header *ngIf="visualizar"> 
    <div class="panel-header-buttons">
      <button class="delete-button" label="Delete" icon="pi pi-minus-circle" pButton></button>
      <button class="add-button" label="Novo usuário" icon="pi pi-plus-circle" pButton (click)="novoUsuario()"></button>
    </div>  
  </p-header>
  
  <app-table
    [sourceObservable]="getPeopleObservable"
    [columns]="columns" [actions]="actions"
    *ngIf="visualizar"
  ></app-table>
  
  
  <div *ngIf="!visualizar">
    <div class="p-grid" style="margin-top: 15px">
      <div class="p-col-3">
        <span class="ui-float-label">
          <input id="nome" [(ngModel)]="usuario.nome" name="nome" type="text" size="30" pInputText class="wid100 input-group-text"> 
          <label for="nome" >Nome</label>
        </span>
      </div>

      <div class="p-col-3">
        <span class="ui-float-label">
          <p-inputMask mask="999.999.999-99" id="cpf" [(ngModel)]="usuario.cpf" class="input-mask"></p-inputMask>
          <label for="cpf">CPF</label>
        </span>
      </div>

      <div class="p-col-3">
        <span class="ui-float-label">
          <input id="login" type="text" size="30" [(ngModel)]="usuario.login" pInputText class="wid100"> 
          <label for="login">Login</label>
        </span>
      </div>

      <div class="p-col-3">
        <span class="ui-float-label">
          <input id="senha" [(ngModel)]="usuario.senha" type="text" class="wid100" pInputText> 
          <label for="senha">Senha</label>
        </span>
      </div>
    </div>

    <button (click)="salvar()">Salvar</button>
  </div>


</p-panel>