// breakpoint
$breakpoint-md: 992px;

// colors
$topbar-background-color: #222;
$topbar-font-color: #999;
$topbar-font-color-on-hover: #fff;
$topbar-toggler-color: #868e96;
$sidebar-item-background-color: #222;
$sidebar-item-background-color-on-hover: #111;
$sidebar-item-color: #999;
$sidebar-item-color-on-hover: #fff;

// sizes
$header-height: 51px;
$sidebar-width: 235px;
$sidebar-width-collapsed: 45px;